* { box-sizing: border-box;}
html 
{
	height: 100%;
	background: #eee; 
	font-family: Roboto, sans-serif; 
	font-weight: 400;
}
body 
{ 
	margin: 0 auto; 
	min-height: 100vh; 
	max-width: 800px; 
	background: white;
	box-shadow: 0 0 5px 5px rgba(0,0,0,.05);
}
h1,h2,h3
{
	margin: 0;
	padding: 1rem 2rem;
}
h1
{ 
	margin-bottom: 1rem; 
	background: #555; 
	color: lightgray;
}
h3 
{ 
	margin-top: 1rem; 
	padding-bottom: 0; 
}
p 
{ 
	padding: 0 2rem;
	text-align: justify; 
}
section { padding-bottom: 2rem; }
ul { margin: 0; }
li { list-style-type: none; padding: 0.3rem; }
a { text-decoration: none;}
details
{
	padding: 1rem; 
	background-color: lightsteelblue;
	margin: 0 2rem 0 2rem;	
}
details p 
{ 
	padding-left: 0; 
	padding-right: 0; 
}
details > details
{
	margin: 0;
	padding: .2rem 0;
}
figure > img
{
	display: block;
	margin:auto;
}
figcaption
{
	margin-top: 10px;
	text-align:center;
}
/*
details[open]
{
	
	background-color: darkseagreen;
	transition: background-color 250ms linear;
}
*/
summary
{ 
	font-weight: bold; 
	cursor: pointer;
	outline: 0;
}
mark
{
	display: block;
	padding: 1rem;
	margin: 0 2rem 0 2rem;
	background: bisque;
}